<!DOCTYPE html>
<!--partners-->
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license.
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"></head>

<body>
<!-- Navigation -->
<nav th:replace="fragments :: my_navigation"></nav>


<!-- intro -->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <span class="glyphicon glyphicon-cloud" style="font-size: 60px"></span>
                <h2 class="section-heading" th:if="${message}" th:text="${message}"></h2>
            </div>
        </div>
    </div>
</section>

<!-- search button -->
<div class="content">
    <h2 align="center">Add a Partner</h2>
    <form align="center" th:action="@{/partner/add/success}" method="post">

        <label for="name">Company Name:</label><br>
        <input type="text" id = name name="name" th:value="${name}" placeholder="Name" size="50"><br>

        <label for="street">Street:</label><br>
        <input type="text" id="street" name="street" th:value="${street}" placeholder="Street" size="50"><br>

        <label for="houseNumber">House Number:</label><br>
        <input type="text" id = houseNumber name="houseNumber" th:value="${houseNumber}" placeholder="House Number" size="50"><br>

        <label for="zipCode">Zip Code:</label><br>
        <input type="text" id="zipCode" name="zipCode" th:value="${zipCode}" placeholder="Zip Code" size="50"><br>

        <label for="city">City:</label><br>
        <input type="text" id = city name="city" th:value="${city}" placeholder="City" size="50"><br>

        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" th:value="${email}" placeholder="Email" size="50"><br><br>

        <button type="submit">Add Partner</button>
    </form>
</div>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

</body>

</html>