<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license.
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"></head>

<body>
<!-- Navigation -->
<nav th:replace="fragments :: my_navigation"></nav>

    <!-- intro -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <span class="glyphicon glyphicon-shopping-cart" style="font-size: 60px"></span>
                    <h2 class="section-heading">Our Partner Stores</h2>
                    <p class="text-light">Buy our brands in store.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <table id="partners">
                    <tr>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>LINK</th>
                        <th>PRODUCTS</th>
                    </tr>
                    <tr th:each="partner : ${partners}">
                        <td th:text="${partner.name}">PartnerName</td>
                        <td th:text="${partner.street + ' ' + partner.houseNumber + ', ' + partner.zipCode + ' ' + partner.city}">PartnerAddress</td>
                        <td th:text="${partner.link}">PartnerEmail</td>
                        <td>
                            <p th:each="product : ${partner.products}">
                                <span th:text="${product.name}">ProductName</span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- Content 2 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div id="map"></div>
                    <script>
                        function initMap() {
                            new google.maps.Map(document.getElementById('map'), {
                                center: {lat: 52.378, lng: 4.897},
                                zoom: 12,
                                mapId: 'cb1072a7344834af'
                            });
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxQDbU3tw_bIJr6Yj-mMp7AXoBdrLx_8A&callback=initMap" defer></script>
                </div>
            </div>
        </div>
    </section>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

</body>

</html>